* {
  padding: 0;
  margin: 0;
}
body {
  background-color: blanchedalmond;
}
.header {
  padding: 30px 15px;
}
.header .child {
  max-width: 1000px;
  margin: auto;
}
.header .child h1 {
  text-align: center;
  margin-bottom: 25px;
}
.cs {
  display: flex;
  justify-content: center;
  place-items: center;
}
.cs p {
  padding-right: 10px;
}
.cs #number {
  margin-right: 10px;
  outline: none;
  width: 50px;
  padding: 8px 5px;
  border-radius: 9px;
}
.cs .gen {
  background-color: cornflowerblue;
  text-decoration: none;
  padding: 10px 10px;

  color: white;
}
.txt-container {
  width: 55%;
  margin: 45px auto;
}
.txt-container p {
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
