* {
  padding: 0;
  margin: 0;
}
header {
  padding: 25px 15px;
}
.logo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1 rem;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.navbar {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
@media screen and (min-width: 850px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1 rem;
  }
  .header .navbar ul li {
    display: inline-block;
    padding-right: 15px;
  }
  .social {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    height: auto;
  }
}
.social i {
  padding-left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.logo i {
  font-size: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
}

.header .navbar ul {
  list-style-type: none;
  margin-top: 20px;
}
.header .navbar ul li {
  padding-bottom: 15px;
}
.active-navbar {
  height: 10rem;
  transition: all 0.3s linear;
}
